
set (BOAP_ACP_NODE_MAC_ADDR_PLANT \\xff\\xff\\xff\\xff\\xff\\xff)
set (BOAP_ACP_NODE_MAC_ADDR_CONTROLLER \\xff\\xff\\xff\\xff\\xff\\xff)
set (BOAP_ACP_NODE_MAC_ADDR_PC \\xff\\xff\\xff\\xff\\xff\\xff)
