
# MAC addresses of network nodes
set (BOAP_ACP_NODE_MAC_ADDR_PLANT \\xff\\xff\\xff\\xff\\xff\\xff)
set (BOAP_ACP_NODE_MAC_ADDR_CONTROLLER \\xff\\xff\\xff\\xff\\xff\\xff)
set (BOAP_ACP_NODE_MAC_ADDR_PC \\xff\\xff\\xff\\xff\\xff\\xff)

# Plant touchscreen configuration
set (BOAP_CONTROL_SCREEN_DIMENSION_X_AXIS_MM 322)
set (BOAP_CONTROL_SCREEN_DIMENSION_Y_AXIS_MM 247)
set (BOAP_CONTROL_ADC_LOW_X_AXIS 270)
set (BOAP_CONTROL_ADC_HIGH_X_AXIS 3800)
set (BOAP_CONTROL_ADC_LOW_Y_AXIS 380)
set (BOAP_CONTROL_ADC_HIGH_Y_AXIS 3500)
set (BOAP_CONTROL_GND_PIN_X_AXIS_NUM 26)
set (BOAP_CONTROL_HIGH_Z_PIN_X_AXIS_NUM 27)
set (BOAP_CONTROL_ADC_PIN_X_AXIS_NUM 32)
set (BOAP_CONTROL_ADC_PIN_Y_AXIS_NUM 33)

# Servos configuration
set (BOAP_CONTROL_PWM_PIN_X_AXIS_NUM 18)
set (BOAP_CONTROL_PWM_PIN_Y_AXIS_NUM 19)

# Controller touchscreen configuration
set (BOAP_CONTROLLER_SCREEN_DIMENSION_X_AXIS_MM 100)
set (BOAP_CONTROLLER_SCREEN_DIMENSION_Y_AXIS_MM 100)
set (BOAP_CONTROLLER_ADC_LOW_X_AXIS 270)
set (BOAP_CONTROLLER_ADC_HIGH_X_AXIS 3800)
set (BOAP_CONTROLLER_ADC_LOW_Y_AXIS 380)
set (BOAP_CONTROLLER_ADC_HIGH_Y_AXIS 3500)
set (BOAP_CONTROLLER_GND_PIN_X_AXIS_NUM 26)
set (BOAP_CONTROLLER_HIGH_Z_PIN_X_AXIS_NUM 27)
set (BOAP_CONTROLLER_ADC_PIN_X_AXIS_NUM 32)
set (BOAP_CONTROLLER_ADC_PIN_Y_AXIS_NUM 33)

# Router configuration
set (BOAP_ROUTER_UART_BAUD_RATE 115200)
