
# MAC addresses of network nodes
set (BOAP_ACP_NODE_MAC_ADDR_PLANT \\xff\\xff\\xff\\xff\\xff\\xff)
set (BOAP_ACP_NODE_MAC_ADDR_CONTROLLER \\xff\\xff\\xff\\xff\\xff\\xff)
set (BOAP_ACP_NODE_MAC_ADDR_PC \\xff\\xff\\xff\\xff\\xff\\xff)

# Plant touchscreen configuration
set (BOAP_CONTROL_SCREEN_DIMENSION_X_AXIS_MM 322.0)
set (BOAP_CONTROL_SCREEN_DIMENSION_Y_AXIS_MM 247.0)
set (BOAP_CONTROL_ADC_LOW_X_AXIS 300)
set (BOAP_CONTROL_ADC_HIGH_X_AXIS 3750)
set (BOAP_CONTROL_ADC_LOW_Y_AXIS 400)
set (BOAP_CONTROL_ADC_HIGH_Y_AXIS 3250)
set (BOAP_CONTROL_GND_PIN_X_AXIS_NUM 26)
set (BOAP_CONTROL_HIGH_Z_PIN_X_AXIS_NUM 27)
set (BOAP_CONTROL_ADC_PIN_X_AXIS_NUM 32)
set (BOAP_CONTROL_ADC_PIN_Y_AXIS_NUM 33)

# Servos configuration
set (BOAP_CONTROL_PWM_PIN_X_AXIS_NUM 18)
set (BOAP_CONTROL_PWM_PIN_Y_AXIS_NUM 19)
set (BOAP_CONTROL_SERVO_X_AXIS_OFFSET_DEG 0)
set (BOAP_CONTROL_SERVO_Y_AXIS_OFFSET_DEG 0)

# Controller touchscreen configuration
set (BOAP_CONTROLLER_SCREEN_DIMENSION_X_AXIS_MM 100.0)
set (BOAP_CONTROLLER_SCREEN_DIMENSION_Y_AXIS_MM 100.0)
set (BOAP_CONTROLLER_ADC_LOW_X_AXIS 300)
set (BOAP_CONTROLLER_ADC_HIGH_X_AXIS 3750)
set (BOAP_CONTROLLER_ADC_LOW_Y_AXIS 400)
set (BOAP_CONTROLLER_ADC_HIGH_Y_AXIS 3250)
set (BOAP_CONTROLLER_GND_PIN_X_AXIS_NUM 26)
set (BOAP_CONTROLLER_HIGH_Z_PIN_X_AXIS_NUM 27)
set (BOAP_CONTROLLER_ADC_PIN_X_AXIS_NUM 32)
set (BOAP_CONTROLLER_ADC_PIN_Y_AXIS_NUM 33)

# Router configuration
set (BOAP_ROUTER_UART_BAUD_RATE 115200)
